{% extends "home.html" %}

{% block head %}
<title>Urban</title>
{% endblock %}

{% block content %}
<body>
    <div class="gallery">
        <figure class="gallery_item gallery_item--1">
            <img src="/static/images/candlelit.jpg" class="gallery_img"
                 alt="image 1">
        </figure>
         <figure class="gallery_item gallery_item--2">
            <img src="/static/images/childrenofthecorn.jpg" class="gallery_img"
                 alt="image 2">
        </figure>
         <figure class="gallery_item gallery_item--3">
            <img src="/static/images/ghostmirror.jpg" class="gallery_img"
                 alt="image 3">
        </figure>
         <figure class="gallery_item gallery_item--4">
            <img src="/static/images/grasshopper.jpg" class="gallery_img"
                 alt="image 4">
        </figure>
         <figure class="gallery_item gallery_item--5">
            <img src="/static/images/mitzialert.jpg" class="gallery_img"
                 alt="image 5">
        </figure>
         <figure class="gallery_item gallery_item--6">
            <img src="/static/images/mitzisat.jpg" class="gallery_img"
                 alt="image 6">
        </figure>
         <figure class="gallery_item gallery_item--7">
            <img src="/static/images/mitziwind.jpg" class="gallery_img"
                 alt="image 7">
        </figure>
         <figure class="gallery_item gallery_item--8">
            <img src="/static/images/persephone.jpg" class="gallery_img"
                 alt="image 8">
        </figure>
         <figure class="gallery_item gallery_item--9">
            <img src="/static/images/summerslumber.jpg" class="gallery_img"
                 alt="image 9">
        </figure>
         <figure class="gallery_item gallery_item--10">
            <img src="/static/images/turlepower.jpg" class="gallery_img"
                 alt="image 10">
        </figure>
    </div>
</body>
{% endblock %}